* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #111;
}

.container {
    width: 100%;
    margin: auto;
    
}

.nav {
    display: block;
    text-align: center;
    background-color: #eee;
    padding-bottom: 1em
    
    
}

.logo {
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 3px #000;
    font-family: 'Merriweather', serif;
    color: #fff;
    background-color: #111;
}

.links {
    margin: 20px 0;
    
    
}

.links a {
    text-decoration: none;
    margin-right: .3em;
    font-family: 'PT Serif', serif;
    font-size: 1.1rem;
    color: #fff;
    text-shadow: 2px 2px 3px #000;
    
}

.links a:hover {
    color: red;
    border-bottom: 2px solid #fff;
}

.hero {
    height: 100vh;
    text-align: center;
    position: relative;
    background-image: url(./Images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    
}

.cell {
    display: none;
}
.ecommerce {
    display: none;
}

.hero__content {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.hero__content p {
    font-family: 'PT Serif', serif;
    font-size: 1.1rem;
    color: #fff;
    text-shadow: 2px 2px 3px #000;
    text-align: left;
    width: 95%;
    margin: auto;
}

.hero__content h1 {
    font-size: 2.5rem;
    text-align: justify;
    text-shadow: 2px 2px 3px #000;
    font-family: 'Merriweather', serif;
    color: #fff;
    text-align: justify;
    margin: auto;
    
}

@media only screen and (min-width: 768px){
    .nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        
        
    }
    
    .logo {
        font-size: .5rem;
        padding: 10px 10px;
        
    }
    
    .links a {
        font-family: 'PT Serif', serif;
        font-size: 1rem;
        
        
    }

    .hero__content {
        padding: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    
    .hero__content p {
        font-family: 'PT Serif', serif;
        font-size: 1.3rem;
        color: #fff;
        text-shadow: 2px 2px 3px #000;
        text-align: left;
        width: 100%;
        
        
    }
    
    .hero__content h1 {
        font-size: 4rem;
        text-shadow: 2px 2px 3px #000;
        font-family: 'Merriweather', serif;
        color: #fff;
        text-align: left;
        
        
    }
}

@media only screen and (min-width: 1000px){

    body {
        background: linear-gradient(#fff 20%, #000 80%);
    }

    .container {
        width: 90%;
        margin: auto;
            
    }
    
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1em
        
        
    }
    
    .logo {
        font-size: 1rem;
        padding: 5px 5px;
    }
    
    .links a {
        font-size: 1.1rem;    
    }
    
    .hero {
        height: 100vh;
        text-align: justify;
        position: relative;
        background-image: url(./Images/1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .cell {
        display: block;
        width: 50%;
    }

    .ecommerce {
        display: block;
        width: 20%;
        position: absolute;
        top: 50%;
        left: 40%;
    }
    
    .hero__content {
        padding: 100px;
        position: absolute;
        top: 30%;
        left: 75%;
        transform: translate(-50%, -50%);
        width: 50%;
        
        
    }
    
    .hero__content p {
        font-family: 'PT Serif', serif;
        font-size: 1.1rem;
        color: #fff;
        text-shadow: 2px 2px 3px #000;
        width: 100%;
        text-align: left;
        
    }
    
    .hero__content h1 {
        font-size: 4rem;
        text-align: justify;
        text-shadow: 2px 2px 3px #000;
        font-family: 'Merriweather', serif;
        color: rgb(7, 2, 70);
        
        
        
    }
}

@media only screen and (min-width: 1400px){

    .logo {
        font-size: 2rem;
        padding: 5px 5px;
    }
    
    .links a {
        font-size: 1.3rem;    
    }
    
    .hero {
        height: 100vh;
        text-align: justify;
        position: relative;
        background-image: url(./Images/1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .cell {
        display: block;
        width: 50%;
    }

    .ecommerce {
        display: block;
        width: 20%;
        position: absolute;
        top: 65%;
        left: 40%;
    }
    
    .hero__content {
        padding: 100px;
        position: absolute;
        top: 35%;
        left: 75%;
        transform: translate(-50%, -50%);
        width: 50%;
        
        
    }
    
    .hero__content p {
        font-family: 'PT Serif', serif;
        font-size: 1.3rem;
        color: #fff;
        text-shadow: 2px 2px 3px #000;
        width: 100%;
        text-align: left;
        
    }
    
    .hero__content h1 {
        font-size: 5rem;
        text-align: justify;
        text-shadow: 2px 2px 3px #000;
        font-family: 'Merriweather', serif;
        color: rgb(7, 2, 70);
        
        
        
    }
}